*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    background-color: #0b0513;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%236b0063' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    
}

.nav-brand {
    width: 50px;
}

/* nav left*/
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid red;
}

.nav-main ul .nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}
/* Showcase */
hr {
    margin: 10px 0;
}
.showcase {
    width: 100%;
    height: 550px;
    background: url('./img/showcase2.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-end ;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 1px solid whitesmoke;
    font-weight: bold;
    padding: 10px 20px;
    background: darkblue;
    color: darkgray;
    font-size: 15px; 
    margin-bottom: 20px;
}

.btn:hover {
    opacity: .3;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/* news card*/
.news-cards {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}
.news-cards img {
    width: 100%;
    height: 180px;
}
.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}
.news-cards a {
    padding: 10px 0;
    color: whitesmoke;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
}
/* vars banner1*/
.cards-banner1 {
    width: 100%;
    height: 350px;
    background: url('./img/tech-red.jpg');
    margin-bottom: 40px;
}
.cards-banner1 .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: whitesmoke;
}
.cards-banner1 p, 
.cards-banner1 h2 {
    margin: 10px 0 20px 0;
}
/*cards-banner2*/
.cards-banner2 {
    width: 100%;
    height: 350px;
    background: url('./img/image-five.jpg') no-repeat center center/cover;
}
.cards-banner2 .content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: wheat;
}

/*social*/
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

/*footer links*/
.footer-links {
    background: gray;
    color: darkgray;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

.footer {
    background: gray;
    color: honeydew;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px) {
    
    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: gray;
        height: 100%;
        padding: 30px;
        opacity: .8;
        transform: translateX(-200px);
        transition: transform 1s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(0px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
        border-bottom: bisque solid 1px;
    }
    
    .nav-main ul .nav-menu-right {
        margin-right: 40px;
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner1 .content,
    .cards-banner2 {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500px) {
    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-cards img {
        height: 270px;
    }

    .cards-banner1 .content,
    .cards-banner2 .content 
    {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }
}